@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #8C0303;
    --cor1: #D93D04;
    --cor2: #D97904;
    --cor3: #D98E04;
    --cor4: #D9B504;

}
/*
    Paleta de cores:

    Vermelho: #8C0303
    Laranja escuro: #D93D04
    Laranja médio: #D97904
    Laranja claro: #D98E04
    Amarelo: #D9B504
*/

* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 505px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    /*transição*/
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}


#imagem {
    display: block;
    background: #D97904 url(../imagens/img.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

#form {
    display: block;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #2c3e50;
}

p {
    font-size: 0.8em;
    color: #2c3e50;
}

form > div.campo {
    background-color: #d2deec ;
    border: 2px solid #d2deec;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo .material-icons {
    color: #2c3e50;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #e8f0f7;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 45px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: white;
    color: #2c3e50;
}

input::placeholder {
    color: #6c7a89 ;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #d84315;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #8a0303;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 9px ;
    background-color: white;
    color: #7a2202;
    border: 1px solid #7a2202;
    text-decoration: none;
}

form > a.botao:hover {
    border: 1px solid #ff632b;
    color: #ff632b;
}

form > a.botao > span {
    font-size: 0.8em;
}